version: '3'

services:
  build-js:
    image: suborbital/builder-js:v0.6.0
    command: ./build.sh
    working_dir: /source/js
    volumes:
      - .:/source

  test:
    image: golang:${GO_VERSION:-1.19}
    working_dir: /source
    command: go test -coverprofile c.out -v ./...
    volumes:
      - .:/source
      - $GOPATH/pkg/mod/cache:/go/pkg/mod/cache

  benchmark:
    image: golang:${GO_VERSION:-1.19}
    working_dir: /source
    command: go test -bench=. ./...
    volumes:
      - .:/source
      - $GOPATH/pkg/mod/cache:/go/pkg/mod/cache